

body{
    background-color: white;
}
/*FONDOS*/



/*************************
        EJERCICIO 1
**************************/

img .acercar {
    width: 300px;
    height: 300px;
    -webkit-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    -o-transition: all .10s ease-in-out;
    -ms-transition: all .10s ease-in-out;
}
 
.transicion {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.imagenes_{
   display: flex;
   flex-direction: row;
}
.imagenes_img{
   width: 100%;
}

.botones{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.botones .separar{
    width: 50%;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
}
.boton_personalizado:hover{
    font-weight: 600;
    color: #FFFFFF;
    background-color: #000000;
}
.texto_centrar{
    color: #000000;
    text-align: center;
    font-size: 500px;
  }